.site-collapse-custom-panel{
background-color: #252730;

}

 .site-collapse-custom-panel .ant-collapse-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    color: #FFFFFF54!important;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.form-data  .site-collapse-custom-panel .ant-collapse-header:before{
    display: inline-block;
    color: #4E5C6D2E;
    content: '————---———————---';
}
.form-data  .site-collapse-custom-panel .ant-collapse-header:after{
    display: inline-block;
    content: '————---———————---';
    color: #4E5C6D2E;
}
  .ant-collapse-item {
    border-bottom: 0!important;
}
.site-collapse-custom-panel .ant-collapse-arrow{
    margin-right: 0!important;
}

.form-data .custom-codemirror{
 height: 106px;
}

